body {
  background-color: rgb(207, 201, 201);
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin-bottom: 10px;
}

.card-header {
  display: flex;
  align-items: baseline;
}

.card-img-top {
  margin-right: 15px;
}

.filter-img-top {
  margin-right: 15px;
}

.card-text {
  font-weight: bold;
}

.card-span {
  font-weight: lighter;
}
